<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dir128677A741165F2F6D19FF607E03DC4F" Name="Release">
                <Component Id="cmp4AB5303DA0DF7D64F4AA22C386FDE1E4" Guid="*">
                    <File Id="fil10E1250C626B5F5677090890E6605B47" KeyPath="yes" Source="$(var.StaticGenerator.TargetDir)\DefaultTemplate.sql" />
                </Component>
                <Component Id="cmp09CB66FF87E5A279734E2E3070CB6B3C" Guid="*">
                    <File Id="fil69E38C0D1B2D8E4921EDFCAA4A5D36CD" KeyPath="yes" Source="$(var.StaticGenerator.TargetDir)\Microsoft.Data.ConnectionUI.Dialog.dll" />
                </Component>
                <Component Id="cmpC0610EFA3CD91F5742A7F05DF8D9A8CE" Guid="*">
                    <File Id="filEE06CCD9647A8BA8ECE0B17DBA23AB1B" KeyPath="yes" Source="$(var.StaticGenerator.TargetDir)\Microsoft.Data.ConnectionUI.dll" />
                </Component>
                <Component Id="cmp4D0A9F843489151A837C11E1245541C6" Guid="*">
                    <File Id="fil8BE1A6D8DAA006EFC260F6EE8FA551CA" KeyPath="yes" Source="$(var.StaticGenerator.TargetDir)\Static Data Script Generator.exe" />
                </Component>
                <Component Id="cmp4728A477D70D349DC179D93B59AA9FCC" Guid="*">
                    <File Id="fil7C4CD5232989626E42530CE68923C6FA" KeyPath="yes" Source="$(var.StaticGenerator.TargetDir)\Static Data Script Generator.exe.config" />
                </Component>
                <Component Id="cmpD3E0F1317F91EC699B2297FE7061B323" Guid="*">
                    <File Id="fil0AB577D374EDE67B5F0A408E72374EBA" KeyPath="yes" Source="$(var.StaticGenerator.TargetDir)\Static Data Script Generator.pdb" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Binaries">
            <ComponentRef Id="cmp4AB5303DA0DF7D64F4AA22C386FDE1E4" />
            <ComponentRef Id="cmp09CB66FF87E5A279734E2E3070CB6B3C" />
            <ComponentRef Id="cmpC0610EFA3CD91F5742A7F05DF8D9A8CE" />
            <ComponentRef Id="cmp4D0A9F843489151A837C11E1245541C6" />
            <ComponentRef Id="cmp4728A477D70D349DC179D93B59AA9FCC" />
            <ComponentRef Id="cmpD3E0F1317F91EC699B2297FE7061B323" />
        </ComponentGroup>
    </Fragment>
</Wix>